
<div class="main">
  <form class="form">
    <div class="icon-wrapper">
      <mat-icon *ngIf="!isEditMode"
        class="icon"
        (click)="onEditClick()">
        edit
      </mat-icon>
      <mat-icon *ngIf="isEditMode"
        class="icon"
        (click)="onSaveClick()">
        done
      </mat-icon>
    </div>
    <div class="text-group">
      <textarea [disabled]="!isEditMode"
        #noteTextArea
        class="text-note"
        maxlength="4000"
        (focusout)="onNoteFocusOut($event)"
        (keyup)="updateCharCount($event)"
        ></textarea>
      <div class="char-counter">{{noteTextArea?.value?.length}}/4000</div>
    </div>
  </form>
</div>


<!-- <div class="main">
  <form class="form">
    <div class="icon-wrapper">
      <button *ngIf="!isEditMode" mat-icon-button>
        <mat-icon class="icon">
          edit
        </mat-icon>
      </button>
      <button *ngIf="isEditMode" mat-button>
        <mat-icon class="icon">
          done
        </mat-icon>
      </button>
    </div>
    <div class="text-group">
      <textarea class="text-note"></textarea>
      <div class="char-count">100/4000</div>
    </div>
  </form>
</div> -->

